In [1]:
import pandas as pd
import numpy as np

In [2]:
language_data = pd.read_csv("language_data.csv")

In [3]:
language_data = language_data[pd.notnull(language_data['full_name'])]
language_data = language_data[pd.notnull(language_data['word'])]
language_data = language_data[pd.notnull(language_data['Group'])]

In [4]:
language_data.loc[language_data['full_name'].str.contains('Greek'), 'Group'] = 'Greek'

In [5]:
language_data.loc[language_data['full_name'].str.contains('Turkish'), 'Group'] = 'Other'

In [6]:
language_data['word_len'] = language_data['word'].apply(lambda x: len(x))

In [7]:
language_data = language_data[language_data['word_len'] < 25]

In [8]:
language_data.Group.unique()

array(['Germanic', 'Other', 'Arabic', 'Latin', 'Greek', 'Japanese'],
      dtype=object)

In [9]:
convert_dict = {}
for idx, value in enumerate(language_data.Group.unique()):
    convert_dict[value] = idx

In [10]:
language_data['GroupNum'] = language_data['Group'].apply(lambda x: convert_dict[x])

In [11]:
letter_li = []
for word in language_data['word'].values:
    for letter in word:
        letter_li.append(letter)

In [12]:
letter_li.sort()

In [13]:
unique_letters = list(set(letter_li))
unique_letters.sort()

In [14]:
letter_dict = {}
for idx, letter in enumerate(unique_letters):
    letter_dict[letter] = idx

In [15]:
language_data['letter_li'] = language_data['word'].apply(lambda x: list(x))

In [16]:
def letter_to_number(word_li):
    return_li = []
    for letter in word_li:
        return_li.append(letter_dict[letter])
        
    return return_li

In [17]:
language_data['number_li'] = language_data['letter_li'].apply(lambda x: letter_to_number(x))

In [18]:
language_data.head()

,Unnamed: 0,word,origin,full_name,Group,word_len,GroupNum,letter_li,number_li
0,0,abs brake,deu,German,Germanic,9,0,"[a, b, s, , b, r, a, k, e]","[2, 3, 20, 0, 3, 19, 2, 12, 6]"
1,1,aivd,nld,Dutch;Flemish,Germanic,4,0,"[a, i, v, d]","[2, 10, 23, 5]"
2,3,aachen,deu,German,Germanic,6,0,"[a, a, c, h, e, n]","[2, 2, 4, 9, 6, 15]"
3,4,aarhus,dan,Danish,Germanic,6,0,"[a, a, r, h, u, s]","[2, 2, 19, 9, 22, 20]"
4,7,aashaadha,san,Sanskrit,Other,9,1,"[a, a, s, h, a, a, d, h, a]","[2, 2, 20, 9, 2, 2, 5, 9, 2]"

In [19]:
small_data = language_data[['letter_li', 'number_li']]